<!-- list properties start  -->
<section class='container lista-propiedades'>
  <h1>lista de propiedades</h1>
  <div class='contenido-propiedades'>
    <div class='texto'>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti quod
        est natus molestiae nesciunt quae magni. Nam ullam consequuntur id
        dignissimos ad obcaecati doloribus nobis.</p>

    </div>
    <div class='listas'>
      <ul>
      </ul>
    </div>
  </div>

  <div class='todas-propiedades'>
    {{#each data}}
      <div class='card-principal'>
        <div class='imagen-venta'>
          <a href='#'><img src='{{urlimage}}' alt='{{description}}' /></a>
          <span class='span1'>{{state}}</span>
          <span class='span2'>{{cathegoryProperty}}</span>
        </div>
        <div class='precio-ubicacion'>
          <h2>${{price}}</h2>
          <p>{{name}}</p>
          <i class='fa-solid fa-location-dot'></i><span>
            {{direction}}</span>
          {{admin}}
          {{#if admin}}
            <a href='#'>Editar</a>
            <a href='#'>Eliminar</a>
          {{/if}}
        </div>
        <div class='informacion'>
          <small class='m2'><i
              class='fa-solid fa-ruler-combined'
            ></i>{{dimension}}
            m2</small>
          <small class='habitaciones'><i class='fa-solid fa-bed'></i>{{room}}
            habitaciones</small>
          <small class='banios'><i class='fa-solid fa-bath'></i>{{bathroom}}
            baños</small>
        </div>
      </div>
    {{/each}}
  </div>
  <div class='ver'>
    <a href=''>Ver más propiedades</a>
  </div>
</section>
<!-- list properties end -->